.box{
    margin-top:  2%;
    border-radius: 8%;
    border: 2px solid red;
    width: 18%;
    height: 40%;
    text-align: center;
    color: coral;
    font-size: 25px;
    box-shadow: 8px 6px  #e2e1e1;
    
}
.text {
    margin-top: 5%;
    left: 23%;
    font-size: 50px;

}
.bottom-line{
    margin-left: 20%;
}

.add-btn{ 
    position: absolute;
    right: 5px;
    bottom: 5px;

}
.b4{
     height: 250px;
    position:relative;
    width:200px;
    margin-left: 40%;
    margin-top: 2%;
    
}
.back{
    margin-left: 45%;
     margin-top: 4%;
    
}
.text2{
    font-size: 32px;
}
h1{
    text-decoration:underline;
    text-align: center;

}
@media screen and (min-width: 200px ) and (max-width: 680px) {
    .b4 {
        margin-left: 26%;
    margin-top: 23%;
    height: 375px;
    width: 250px;
    }
    .back {
        margin-left: 11%;
        position: absolute;
        top: 1%;
        left: 4%;
    }
    .text2{
        font-size: 0px;
    }
    .text{
        font-size: 25px;
    }
}



















